body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  background: white;
}