<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <input id="username" placeholder="Username">
    <input id="password" type="password" placeholder="Password">
    <button onclick="login()">Login</button>

    <h3>OR</h3>

    <button onclick="signup()">Signup</button>
  </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>